.global {
	background: url("../img/main-bg.jpg") no-repeat scroll 50% 0 #000000;
	overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 90%;
}

.flags {
	height: 30px;
    margin-bottom: 20px;
}

.head {
	height: 250px;
    margin-bottom: 30px;
    padding-top: 15px;
}
	
	.head .logo {
		float: left;
		width: 263px;
	}
	
	.head .navigation {
		float: left;
	    margin: 60px 0 0 40px;
	    width: 800px;
	}
	
.content {
	background: url("../img/diams.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    padding-bottom: 20px;
    min-height: 693px;
}

.editCategoryBtn {
	margin-bottom: 10px;
}

	.emptyResultDiv {
		border: 1px solid #333333;
	    border-radius: 10px;
		box-shadow: 0 0 10px #666666;
		-moz-border-radius: 10px;
		-moz-box-shadow: 0 0 10px #666666;
		-o-border-radius: 10px;
		-o-box-shadow: 0 0 10px #666666;
		-webkit-border-radius: 10px;
		-webkit-box-shadow: 0 0 10px #666666;
	    color: #FFFFFF;
	    font-size: 18px;
	    padding: 20px;
	    text-align: center;
	}
	
	.fotorama {
		background: none repeat scroll 0 0 #000000;
		text-align: center;
		margin: 0 auto;
		border: 1px solid #333333;
		border-radius: 10px;
		box-shadow: 0 0 10px #666666;
		-moz-border-radius: 10px;
		-moz-box-shadow: 0 0 10px #666666;
		-o-border-radius: 10px;
		-o-box-shadow: 0 0 10px #666666;
		-webkit-border-radius: 10px;
		-webkit-box-shadow: 0 0 10px #666666;
	}
	
	.commentDiv {
		width: 800px;
		margin-top: 40px;
	}
	
	.showInFront {
		margin: 20px 0;
	}
	
	.adminDiv {
		border: 1px solid #333333;
	    border-radius: 10px;
		box-shadow: 0 0 10px #666666;
		-moz-border-radius: 10px;
		-moz-box-shadow: 0 0 10px #666666;
		-o-border-radius: 10px;
		-o-box-shadow: 0 0 10px #666666;
		-webkit-border-radius: 10px;
		-webkit-box-shadow: 0 0 10px #666666;
		padding: 20px;
	    text-align: center;
	    width: auto;
	    margin-top: 20px;
	}