.global {
	background: url("../img/main-bg.jpg") no-repeat scroll 50% 0 #000000;
	position: relative;
	min-width: 1145px;
}

.wrapper {
	margin: 0 auto;
	width: 1145px;
}

.flags {
	height: 30px;
}

.head {
	height: 250px;
    margin-bottom: 10px;
    padding-top: 15px;
    width: 1145px;
}
	
	.head .logo {
		float: left;
		width: 148px;
	}
	
	.head .navigation {
		float: left;
	    margin: 70px 0 0 40px;
	}
	
.content {
    padding-bottom: 20px;
    min-height: 693px;
    width: 1145px;
}

.editCategoryBtn {
	margin-bottom: 10px;
}

	.emptyResultDiv {
	    font-size: 18px;
	    padding: 20px;
	    text-align: center;
	}
	
	.fotorama {
		margin: 0 auto;
		background-color: #000000;
	}
	
	.commentDiv {
		width: 800px;
		margin-top: 40px;
	}
	
	.showInFront {
		margin: 20px 0;
	}
	
	.adminDiv {
		padding: 20px;
	    width: auto;
	    margin-top: 20px;
	    text-align: center;
	}
	
/**Home page**/
.rm_wrapper {
	height: 335px;
    padding: 10px 5px 10px 0;
}

	.rm_wrapper .rm_container {
		background-color: #000000;
		border: 1px solid #AAAAAA;
	    border-radius: 10px;
		box-shadow: 0 0 10px #888888;
		-moz-border-radius: 10px;
		-moz-box-shadow: 0 0 10px #888888;
		-o-border-radius: 10px;
		-o-box-shadow: 0 0 10px #888888;
		-webkit-border-radius: 10px;
		-webkit-box-shadow: 0 0 10px #888888;
	    float: left;
	    height: 330px;
	    margin-left: 5px;
	    overflow: hidden;
	    position: relative;
	    width: 220px;
	}
	
		.rm_wrapper .rm_container .imgDiv {
			position: absolute;
			left: 225px;
			overflow: hidden;
			opacity: 0.25;
			display: none;
		}
		.rm_wrapper .rm_container .active {
			position: absolute;
			left: 0;
			opacity: 1;
			display: block;	
		}
		
		.rm_wrapper .rm_container .active a:hover {
			opacity: 0.5;
		}
		
		.fotorama__loaded--img:hover {
		    opacity: 0.5;
		}
		
/**Contact page**/
.contact {
	padding: 20px;
}

	.contact .contactInfo {
		color: #AAAAAA;
	}